{% extends 'components/base.html' %}
{% load static %}

<!-- Aqui pode ser colocado todo o conteúdo do <head> -->
{% block head %}
<link rel="stylesheet" href="{% static 'css/clientPage.css'%}">
<link rel="stylesheet" href="{% static 'css/search.css' %}">

<title>Clientes</title>
{% endblock %}

<!-- Aqui pode ser colocado todo o conteúdo do <body> -->
{% block body %}
<main>
    {% include 'components/sidebar.html' %}

    <section id="main_section">
        <div class="title-section">
            <h1>Meus <span class="spanName">Clientes</span></h1>
            <hr>
        </div>
        <br>
        <div class="div_search">
            <form class="search" method="get">
                <button type="submit">
                    <img src="{% static 'imgs/search.svg' %}" alt="lupa">
                </button>
                <input type="text" placeholder="Buscar por clientes" name="search">
            </form>

            <button class="add_button open-modal" data-modal="modal-1">
                <img src="{% static 'imgs/add_ring.svg' %}" alt="">
                <p>Adicionar novo cliente</p>
            </button>
        </div>

        <dialog id="modal-1">
            <div class="new_client_container">
                
                <div class="modal_header">
                    <div class="new_client_label">
                        <h2>➕Cadastrar novo cliente</h2>
                    </div>

                    <button class="close-modal" data-modal="modal-1">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"><path d="M12 22c5.5 0 10-4.5 10-10S17.5 2 12 2 2 6.5 2 12s4.5 10 10 10ZM9.17 14.83l5.66-5.66M14.83 14.83 9.17 9.17" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                    </button>
                </div>

                <form method="post">
                    {% csrf_token %}
                
                    {% for field in form %}
                        {{field.label_tag}}
                        {{field}}
                    {% endfor %}
                
                    <button class="submit_client" type="submit">Cadastrar</button>
                </form>
            </div>
        </dialog>


            <div>
                {% for client in clients %}
                    <!-- Adicionar estilo na listagem de clientes -->
                    <a href="{% url 'client_page' id=client.id %}">
                        <p>{{client.name}}</p>
                        <p>{{client.email}}</p>
                        <p>{{client.user_image}}</p>
                    </a>
                {% endfor %}
            </div>
    </section>
</main>
{% include 'components/footer.html' %}
{% endblock %}

<!-- Aqui pode ser colocado todo o conteúdo do <script> ou importar scripts pelo src -->
{% block scripts %}
<script>
    const openButton = document.querySelectorAll('.open-modal');

    openButton.forEach(button => {
        button.addEventListener('click',() => {
            const modalId = button.getAttribute('data-modal');
            const modal = document.getElementById(modalId);

            modal.showModal();
        });
    });

const closeButton = document.querySelectorAll('.close-modal');

closeButton.forEach(button => {
    button.addEventListener('click', () => {
        const modalId = button.getAttribute('data-modal');
        const modal = document.getElementById(modalId);

        modal.close();
    });
});
</script>
{% endblock %}