{% extends 'components/base.html' %}
{% load static %}

<!-- Aqui pode ser colocado todo o conteúdo do <head> -->
{% block head %}
<title>Templates Disponíveis</title>
<link rel="stylesheet" href="{% static 'css/templates.css' %}">
<link rel="stylesheet" href="{% static 'css/LandingPage.css'%}">
{% endblock %}

<!-- Aqui pode ser colocado todo o conteúdo do <body> -->
{% block body %}
<main>
    {% include 'components/sidebar.html' %}

    <section id="main_section">
        <div class="title-section">
            <h1>Meus <span class="spanName">Templates</span></h1>
            <hr>
        </div>
    
        <div class="template-grid">
            {% if templates|length == 0 %}
                <p>Você não orfertou nenhum template ainda</p>
            {% endif %}

            {% for template in templates %}
                <div class="template-card">
                    <div class="bar-template" style="background-color: #5B21B6;">. </div>
                    <!-- <h3>{{template.info.metadata.project_name}}</h3> -->
                    <p>criador: {{template.info.fk_user.email}}</p>
                    <button href="#" template_id="{{template.id}}" onclick="openModal('{{template.info.id}}')" class="use-btn" style="border: none; cursor: pointer;">Preview</button>
                </div>


                <dialog id="{{template.info.id}}">
                    <div class="new_client_container">
                        
                        <div class="modal_header">
                            <div class="new_client_label">
                                <h2>{{template.info.metadata.project_name}}</h2>
                            </div>

                            <button class="close-modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24" fill="none"><path d="M12 22c5.5 0 10-4.5 10-10S17.5 2 12 2 2 6.5 2 12s4.5 10 10 10ZM9.17 14.83l5.66-5.66M14.83 14.83 9.17 9.17" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            </button>
                        </div>

                        <div class="body">
                            {{template.info.metadata.project_description}}

                            {% for milestone in template.info.metadata.milestones %}
                                <h3>{{milestone.milestone_name}}</h3>
                                <p>{{milestone.milestone_description}}</p>
                                
                                {% for stage in milestone.milestone_stages %}
                                    <h4>{{stage.stage_name}}</h4>
                                    <p>{{stage.stage_description}}</p>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
                </dialog>
            {% endfor %}
        </div>
        

    </section>
    {% include 'components/footer.html' %}
</main>

{% endblock %}

<!-- Aqui pode ser colocado todo o conteúdo do <script> ou importar scripts pelo src -->
{% block scripts %}
<script>
    
</script>
{% endblock %}