{% extends 'components/base.html' %}
{% load static %}

{% block head %}
<title>{{ project.name }}</title>
<link rel="stylesheet" href="{% static 'css/milestone.css' %}">
{% endblock %}

{% block body %}
<main>
    {% include 'components/sidebar.html' %}

    <section id="main_section">
        {% include 'components/errors.html' %}
        
        {% if not milestone %}
        <div id="form-container">
            <form id="milestone-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in milestoneForm %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}
                <button type="submit" class="submitButton">Cadastrar Marco</button>
            </form>
        </div>
        {% else %}

        {% include 'components/milestoneCard.html' %}

        <article class="stages">
            {% for stage in stages %}
                {% include 'components/stageCard.html' %}
            {% endfor %}
        </article>


        <form style="margin-top: 4rem;" id="stage_form" url="{% url 'create_state' id=milestone.id %}">
            <h2 style="margin-bottom: 1rem;">Cadastrar Etapa</h2>
            {% csrf_token %}

            {% for field in stageForm %}
            <div class="form-group">
                {{ field }}
            </div>
            {% endfor %}

            <button type="submit" class="submitButtonStage">Cadastrar Etapa</button>
        </form>

        <div class="milestoneButtons">
            <a class="saveM" href="{% url 'finalize_milestone' id=milestone.id %}">Salvar Marco</a>
            <a class="saveP" href="{% url 'mark_last_milestone' id=milestone.id %}">Salvar Projeto</a>
        </div>
        {% endif %}
    </section>
</main>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/requests/create_file_milestone.js' %}"></script>
<script src="{% static 'js/requests/create_stage_for_milestone.js' %}"></script>
<script src="{% static 'js/inlineEdit.js' %}"></script>

<script>
    function toggleStageDropdown(element) {
        const dropdownContent = element.nextElementSibling;

        // Se estiver em modo de edição, cancela o toggle
        const isEditing = dropdownContent.querySelector(".edit-input, .edit-textarea") !== null;
        if (isEditing) {
            console.log("Dropdown bloqueado durante edição.");
            return;
        }

        element.classList.toggle("active");
    }
</script>
{% endblock %}