{% extends 'components/base.html' %}
{% load static %}


{% block head %}
<title>{{projetc.name}}</title>
<link rel="stylesheet" href="{% static 'css/milestone.css' %}">
<link rel="stylesheet" href="{% static 'css/cardComents.css' %}">
{% endblock %}


{% block body %}
<main>
    {% include 'components/sidebar.html' %}

    <section id="main_section">
        <button class="btn-copia" link="{% url 'copy_project' id=project.id %}" id="copy_project">Fazer uma cópia</button>

        <a href="{% url 'parse_project_to_template' id=project.id %}">Publicar Template</a>
        
        <br>

        <hr>
        <article class="roadmap-milestones">
            {% for milestone in milestones %}
                <div class="milestone {% if milestone.info.is_active %}active{% endif %}">
                    <div class="circle">
                        <p>{{ milestone.info.order }}° marco</p>
                    </div>
                    <div class="label">
                        {{ milestone.info.name }}
                    </div>
                </div>
            {% endfor %}
        </article>
        

        {% for milestone in milestones %}
            <section class="sectionCard" id="milestoneDiv{{milestone.info.id}}" order="{{milestone.info.order}}">
                {% with milestone=milestone.info files=milestone.files %}
                    {% include 'components/milestoneCard.html' %}
                {% endwith %}

                <div class="stages">
                    {% for stage in milestone.stages %}
                        {% include 'components/stageCard.html' %}
                    {% endfor %}
                </div>
            </section>
        {% endfor %}

        <!--Seção de comentarios-->
        <section class="comments_section">
            <h3 class="comments_title">
              📝 Comentários 
              <span class="comments_subtitle">(dúvidas, perguntas e respostas...)</span>
            </h3>
          
            <form class="question_form" method="post">
              <label for="question_textarea">
                <strong>Escreva aqui suas <span class="highlight">dúvidas</span></strong>
                <span class="form_hint">(serão respondidas futuramente pelo gestor.)</span>
              </label>
              <textarea id="question_textarea" name="question" required></textarea>
              <button type="submit">Fazer pergunta</button>
            </form>
          
            <div class="comments_list">
              <p class="list_label">ⓘ Lista de comentários anteriores</p>
                <hr>
                <br>
              <div class="comments_cards">
                <div class="question_card">
                  <h4>Lista das suas <span class="highlight">dúvidas</span></h4>
                  <p class="card_hint">(Estão listadas suas principais dúvidas aqui.)</p>
                  <p class="comment_text">Estou com problemas em entender o marco e etapa número 2.</p>
                </div>
          
                <div class="answer_card">
                  <h4>Respostas das suas <span class="highlight">dúvidas</span></h4>
                  <p class="card_hint">(Estão listadas suas principais dúvidas aqui.)</p>
                  <p class="comment_answer">Você deve reler todas as etapas anteriores, boa sorte!</p>
                </div>
              </div>
            </div>
          </section>
          
    </section>
</main>
{% endblock %}


{% block scripts %}
<script src="{% static 'js/requests/create_file_milestone.js' %}"></script>
<script src="{% static 'js/requests/create_stage_for_milestone.js' %}"></script>
<script src="{% static 'js/inlineEdit.js' %}"></script>

<script>
    function toggleStageDropdown(element) {
        const dropdownContent = element.nextElementSibling;

        // Se estiver em modo de edição, cancela o toggle
        const isEditing = dropdownContent.querySelector(".edit-input, .edit-textarea") !== null;
        if (isEditing) {
            console.log("Dropdown bloqueado durante edição.");
            return;
        }

        element.classList.toggle("active");
    }
</script>

<script>
    document.getElementById('copy_project').addEventListener('click', function (e) {
        const link = document.getElementById('copy_project').getAttribute('link')

        console.log(link)


        fetch(link, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            if (!response.ok) throw new Error("Erro ao gerar projeto.");
            return response.json();
        })
        .then(data => {
            console.log()
            if (data.redirect_url) {
                window.location.href = data.redirect_url;
            }
        })
        .catch(error => {
            console.error("Erro:", error);
            document.getElementById('output').textContent = 'Erro ao gerar projeto.';
        });
    });
</script>
{% endblock %}