h3{
  margin-bottom: 1.5rem;
}
.profile {
  text-align: center;
  background: #fff;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.profile-banner {
  background: linear-gradient(to right, #5f0aa1, #7a35e3);
  border-radius: 10px 10px 0 0;
  position: relative;
}

.profile-picture {
  object-fit: cover;
  margin-top: 30px;
}

.edit-photo {
  width: 20%;
  margin-top: 10px;
  background-color: #7a35e3;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.edit-photo:hover {
  background-color: #4c1d95;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.main-content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.info-card button{
  color: white;
  background-color: #7a35e3;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 0.7rem;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.info-card button:hover{
  background-color: #4c1d95;
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

}

.info-card,
.projects-card,
.clients-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
}

.info-card input,
.info-card textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
}

.projects-card .project,
.clients-card .client {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.project:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.projects-card a{
  width: 100%;
  background-color: #7a35e3;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.projects-card a:hover {
  background-color: #4c1d95;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.clients-card a {
  width: 100%;
  background-color: #1e1e1e;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.clients-card a:hover {
  background-color: #5a5a5a;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}
.infoProject, .infoClient {
  margin-left: 10px;
  width: 100%;
}
.project, .client{
  display: flex;
  align-items: center;
  justify-content: center; 
}

