{% extends 'components/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css'%}">
<title>Perfil</title>
{% endblock %}

{% block body %}
<main>
    {% include 'components/sidebar.html' %}
    <section id="main_section">
        <div class="container">
            <!-- Perfil -->
            <section class="profile">
              <div class="profile-banner">
                <img src="{% static 'imgs/workflowyclient.svg' %}" alt="Foto de perfil" class="profile-picture" />
              </div>
              <button class="edit-photo">Editar foto do perfil</button>
              <div class="profile-info">
                <h2>{{ user.name }}</h2>
                <p>Total de Clientes: <strong>{{clients_count}}</strong></p>
                <p>Projetos Criados: <strong>{{projects_count}}</strong></p>
              </div>
            </section>
        
            <div class="main-content">
              <!-- Minhas Informações -->
              <section class="info-card">
                <h3>Minhas Informações</h3>
                <div class="info-field">
                  <label>Nome:</label>
                  <input type="text" value="{{ user.name }}" disabled />
                </div>
                <div class="info-field">
                  <label>Área:</label>
                  <input type="text" value="Desenvolvedora de Software" disabled />
                </div>
                <div class="info-field">
                  <label>E-mail:</label>
                  <input type="email" value="{{ user.email}}" disabled />
                </div>
                <div class="info-field">
                  <label>Sobre mim:</label>
                  <textarea disabled>Lorem ipsum dolor sit amet</textarea>
                </div>
                <button>Editar informações</button>
              </section>
        
              <!-- Meus Projetos -->
              <section class="projects-card">
                <h3>Meus projetos</h3>
                {% for project in projects %}
                  <div class="project">
                    <img src="{% static 'imgs/workflowyroxo.svg' %}" alt="o">
                    <div class="infoProject">
                        <span>{{project.name}}</span>
                        <p>{{project.fk_owner.email}}</p>
                        <a href="{% url 'view_project' id=project.id %}">Editar projeto</a>
                    </div>
                  </div>
                {% endfor %}
                <br>
                <hr>
                <br>
                <!-- Meus Clientes -->
              <section class="clients-card">
                <h3>Meus clientes cadastrados</h3>
                {% for client in clients %}
                  <div class="client">
                    <img src="{% static 'imgs/workflowyclient.svg' %}" alt="o">
                    <div class="infoClient">
                        <span>👤 {{client}}</span>
                        <p>{{client.email}}/p>
                        <a href="{% url 'client_page' id=client.id %}">Ver cliente</a>
                    </div>
                  </div>
                {% endfor %}
              </section>
              
              </section>
            </div>
          </div>
          
    </section>
    {% include 'components/footer.html' %}
</main>

{% endblock %}

<!-- Aqui pode ser colocado todo o conteúdo do <script> ou importar scripts pelo src -->
{% block scripts %}
<script>
    
</script>
{% endblock %}